{% extends layout %}
{% block head_section %}
<link rel="shortcut icon" href="favicon.ico">
{% endblock head_section %} 
{% block content %}
<main>
	<div class="container">
		<div class="inner-nav">
			<a href="/" class="inner-nav__link">Главная</a>
			<span class="inner-nav__arrow"></span>
			<a href="#" class="inner-nav__link inner-nav__link--active">Новости</a>
		</div>
		<div class="all-news">
			<div class="headings">
				<h1 class="title">Новости</h1>
			</div>
				{% set number = 0 %}
				{% for item in common.news  %}
					{% set number = number + 1 %}
					{% if number > 3 %}
						{% set number = 1 %}
					{% endif %}
			
				<a href="{{ item.url }}" class="all-news__item">
					<div class="all-news__content">
						<h4 class="all-news__date">{{ item.date }}</h4>
						<p class="all-news__name">{{ item.name }}</p>
					</div>
					<div class="all-news__img">
						{% if item.img %}
						<img src="{{ ('news/' + item.img)|img_asset}}" alt="">
						{% else %}
						<img src="{{ ('news/default' + number + '.jpg')|img_asset}}" alt="">
						{% endif %}
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %} 
{% block footer_section %}
{% endblock footer_section %}